[package]
name = "echo-server"
version = "0.1.0"
edition = "2021"
authors = [
    "Harry Bairstow <harry@walletconnect.com>"
]
build = "build.rs"

[dependencies]
tokio = { version = "1", features = ["full"] }
warp = "0.3"

serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

dotenv = "0.15.0"
envy = "0.4"

build-info = "0.0.27"

opentelemetry = { version = "0.17.0", features = ["trace", "metrics", "rt-tokio"] }
opentelemetry-otlp = { version = "0.10.0", features = ["metrics", "trace"] }
tracing = "0.1"
tracing-subscriber = "0.3.15"
tracing-opentelemetry = "0.17.4"

[dev-dependencies]
serial_test = "0.9.0"

[build-dependencies]
build-info-build = "0.0.27"